<a href="https://colab.research.google.com/github/mastgm0817/Python/blob/main/submission/mastgm0817/lecture/Ch02/ch02_03_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%99%80_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트와 튜플

## 리스트

In [ ]:
# 지금까지 변수에는 값을 한 개씩만 저장했습니다.

* 그럼 값을 30개 저장하려면 어떻게 해야 할까요? 다음과 같이 변수 30개에 값 30개를 저장하면 됩니다.
```
a1 = 10
a2 = 20
# ... (생략)
a29 = 60
a30 = 40
```

* 변수 30개를 일일이 타이핑하기는 쉽지 않습니다. 만약 저장할 값이 3,000개라면 정말 끔찍하죠? 이때는 리스트를 사용하면 편리합니다. 리스트는 말 그대로 목록이라는 뜻이며 값을 일렬로 늘어놓은 형태입니다(보통 리스트의 값은 코드로 생성하는 경우가 많아서 타이핑할 일이 거의 없습니다).

### 리스트 만들기

* 변수에 값을 저장할 때 `[ ](대괄호)`로 묶어주면 리스트가 되며 각 값은 ,(콤마)로 구분해줍니다.
* `리스트 = [값, 값, 값]`

In [2]:
list1 = [38,21,53,62,19]
list1

[38, 21, 53, 62, 19]

* 변수에 [ ]로 값을 저장하여 리스트를 만들었습니다. 특히 리스트에 저장된 각 값 요소(element)라고 부릅니다.

### 리스트에 여러 가지 자료형 저장하기

* 리스트는 문자열, 정수, 실수, 불 등 모든 자료형을 저장할 수 있으며 자료형을 섞어서 저장해도 됩니다

In [4]:
list1 = ['james', 17, 175.3, True]
list1

for i in list1:
  print(type(i))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

* 이처럼 리스트에 여러 가지 자료형을 사용하면 관련 정보를 하나로 묶기 좋습니다.

### 빈 리스트 만들기

* 빈 리스트를 만들 때는 [ ]만 지정하거나 list를 사용하면 됩니다.

* `리스트 = []`
* `리스트 = list()`

In [ ]:
list1 = []

[]

[]

* 빈 리스트는 쓸모가 없을 것 같지만, 보통 빈 리스트를 만들어 놓은 뒤에 새 값을 추가하는 방식으로 사용합니다.

### range를 사용하여 리스트 만들기

* 이번에는 range를 사용하여 리스트를 만들어보겠습니다. range는 연속된 숫자를 생성하는데 range에 10을 지정하면 0부터 9까지 숫자를 생성합니다. 즉, 지정한 횟수 숫자는 생성되는 숫자에 포함되지 않습니다.
* `range(횟수)`

In [5]:
a = list(range(0,10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* range(0, 10)이라고 나와서 10까지 생성될 것 같지만 10은 포함되지 않습니다. 다음과 같이 list에 range(10)을 넣어보면 0부터 9까지 들어있는 리스트가 생성됩니다.
* `리스트 = list(range(횟수))`

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* range는 시작하는 숫자와 끝나는 숫자를 지정할 수도 있습니다. 이때도 끝나는 숫자는 생성되는 숫자에 포함되지 않습니다. 즉, list에 range(5, 12)를 넣으면 5부터 11까지 들어있는 리스트가 생성됩니다.
* `리스트 = list(range(시작, 끝))`

In [6]:
list1 = list(range(5,12))
list1

[5, 6, 7, 8, 9, 10, 11]

* 이번에는 증가폭을 사용하는 방법입니다. range에 증가폭을 지정하면 해당 값만큼 증가하면서 숫자를 생성합니다.
* `리스트 = list(range(시작, 끝, 증가폭))`

In [8]:
list1 = list(range(-4,9,2))
list1

[-4, -2, 0, 2, 4, 6, 8]

* range(-4, 10, 2)는 -4부터 8까지 2씩 증가합니다. 여기서 끝나는 값은 10이므로 10까지 증가하지 않고 8까지 생성됩니다.
* 만약 증가폭을 음수로 지정하면 해당 값만큼 숫자가 감소합니다.

In [11]:
list1 = list(range(10,0,-1))
list1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 튜플

지금까지 리스트를 사용해보았는데 파이썬에서는 튜플이라는 자료형도 제공합니다. 튜플은 리스트처럼 요소를 일렬로 저장하지만, 안에 저장된 요소를 변경, 추가, 삭제를 할 수 없습니다. 간단하게 읽기 전용 리스트라고 할 수 있죠

변수에 값을 저장할 때 ( )(괄호)로 묶어주면 튜플이 되며 각 값은 ,(콤마)로 구분해줍니다. 또는, 괄호로 묶지 않고 값만 콤마로 구분해도 튜플이 됩니다.

* `튜플 = (값, 값, 값)`
* `튜플 = 값, 값, 값`

In [13]:
# 숫자가 5개 들어있는 튜플
a = (38,21,53,62,19)
a

(38, 21, 53, 62, 19)

In [15]:
# 괄호를 사용하지 않고 튜플 만들기
tuple1 = 38,21,53,62,19
print(type(tuple1))
tuple1

<class 'tuple'>

(38, 21, 53, 62, 19)

In [16]:
# 튜플도 리스트처럼 여러 자료형을 섞어서 저장해도 됩니다.
tuple1 = 'james', 17, 175.3, True
tuple1

('james', 17, 175.3, True)

그런데 저장된 요소를 변경, 추가, 삭제할 수도 없는 튜플을 왜 만들어 놓았을까요? 이유는 간단합니다. 파이썬 프로그래밍에서 튜플을 사용하는 쪽이 더 유리한 경우도 있기 때문입니다. 보통 튜플은 요소가 절대 변경되지 않고 유지되어야 할 때 사용합니다.

튜플을 만든 상태에서 요소를 변경하게 되면 에러가 발생하게 됩니다. 따라서 요소를 실수로 변경하는 상황을 방지할 수 있습니다.

반면 요소를 자주 변경해야 할 때는 리스트를 사용합니다. 보통 실무에서는 요소를 변경하는 경우가 많기 때문에 튜플보다 리스트를 더 자주 사용하는 편입니다.

### range를 사용하여 튜플 만들기

In [18]:
# 다음과 같이 tuple 안에 range를 넣으면 튜플이 생성됩니다.
tuple1 = tuple(range(0,10))
tuple1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

range에 시작하는 숫자와 끝나는 숫자를 지정해서 튜플을 만들 수도 있겠죠? 다음은 5부터 11까지 들어있는 튜플을 만듭니다.

* `튜플 = tuple(range(시작, 끝))`

In [19]:
tuple1 = tuple(range(5,12))

range에 증가폭을 지정하는 방법도 가능합니다.

* `튜플 = tuple(range(시작, 끝, 증가폭))`

In [21]:
tuple1 = tuple(range(-4,9,2))
tuple1

(-4, -2, 0, 2, 4, 6, 8)

### 튜플을 리스트로 만들고 리스트를 튜플로 만들기

튜플과 리스트는 요소를 변경, 추가, 삭제할 수 있는지 없는지만 다를 뿐 기능과 형태는 같습니다. 따라서 튜플을 리스트로 만들거나 리스트를 튜플로 만들 수도 있습니다.

In [23]:
tuple1 = (1,2,3)
list1 = list(tuple1)
type(list1)

list

반대로 list 안에 튜플을 넣으면 새 리스트가 생성됩니다.

[4, 5, 6]

## 리스트와 튜플로 변수 만들기

In [26]:
# 리스트와 튜플을 사용하면 변수 여러 개를 한 번에 만들 수 있습니다.
# 이때 변수의 개수와 리스트(튜플)의 요소 개수는 같아야 합니다.
a,b,c = (1,2,3)
a,b,c,d = (1,2,3,[1,2,3])
print(a,b,c,d)

1 2 3 [1, 2, 3]

In [ ]:
# 리스트와 튜플 변수로도 변수 여러 개를 만들 수 있습니다.
# 다음과 같이 리스트와 튜플의 요소를 변수 여러 개에 할당하는 것을
# 리스트 언패킹(list unpacking), 튜플 언패킹(tuple unpacking)이라고 합니다.

1 2 3
4 5 6

In [ ]:
# 리스트 패킹(list packing)과 튜플 패킹(tuple packing)은
# 변수에 리스트 또는 튜플을 할당하는 과정을 뜻합니다.